:root {
  --background: #0a131c;
  --text-color: #d9ad26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Golos Text", sans-serif;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

header {
  background-color: #0a131c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0px 0.5rem;
  width: 100%;
  height: 80px;
  position: fixed;
}

.contenedorlogo {
  height: 100%;
}

.nav__img {
  height: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 1rem 0.5rem;
  padding: 1rem 1rem;
  border: solid 2px;
  border-color: var(--text-color);
  border-radius: 10px;
}

.nav__item a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav__item a:hover {
  color: var(--text-color);
}
